.basket {
    max-width: 1460px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    text-align: center;
    font-weight: 400;
}

.wrapper {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}