.productPage {
  margin-top: 60px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.infoBrend {
  padding: 5px 10px;
  color: #3f3f3f;
  background: #f0f2f2;
  font-weight: 700px;
  font-size: 20px;
}

.title {
  margin-top: 15px;
  margin-bottom: 28px;
  max-width: 500px;
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  color: #000000;

  a {
    font-family: "Roboto", sans-serif;
    text-transform: none;
    color: #0f6db1;
    text-decoration-line: underline;
  }
}

.priceWrapper {
  display: flex;
  gap: 24px;
}

.priceValue {
  padding: 2px 0;
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
}

.newPrice {
  color: #eb5757;
}

.oldPrice {
  color: #828282;
  font-size: 18px;
  margin-left: 15px;
  text-decoration: line-through;
}

.btns {
  margin-top: 36px;
  display: flex;
  gap: 20px;
}

.description {
  margin: 0 auto;
  margin-top: 71px;
  max-width: 1240px;
}

.iconContainer {
  position: relative;
  top: 50%;
}

.iconLine1 {
  position: absolute;
  left: -15px;
  background-color: #a1a1a1;
  width: 16px;
  height: 3px;
}
.iconLine2 {
  position: absolute;
  left: -15px;
  background-color: #a1a1a1;
  width: 16px;
  height: 3px;
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

.iconLine2Active {
  transform: rotate(0deg);
}

.acord {
  background: none;
}

.acordItem {
  font-family: "Oswald", sans-serif;
  padding: 25px;
  padding-bottom: 0;
  border-bottom: none !important;
  margin-bottom: 25px;
  background-color: #f8f9fb;
  span {
    margin-bottom: 25px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }
}

.acordItemContent {
  display: flex;
  gap: 30px;
}

.acordItemContentColumn {
  width: 50%;
}

:global {
  .ant-collapse-header {
    padding: 0 !important;
  }

  .ant-collapse-content-box {
    border-top: 1px solid #c4c4c4;
    padding: 0 !important;
  }
}

.describtionText:not(:last-child) {
  margin-bottom: 15px;
}

.advantagesList {
  display: flex;
  flex-direction: column;
}

.advantagesListItem {
  padding-left: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    width: 3px;
    height: 3px;
    background-image: url(../../assets/img/list-mark.svg);
  }
}
