.card {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardIcon {
  position: relative;
}

.countProducts {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 60%;
  height: 70%;
  line-height: 100%;
  border-radius: 50%;
}

.describtion {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text {
  font-size: 12px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.price {
  font-weight: 700;
}
