.card {
    max-width: 344px;
    border: 1px solid black;
    cursor: pointer;
}

.variety {
    margin-top: 14px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.name {
    margin-top: 5px;
    font-weight: 300;
    font-size: 18px;
}

.price {
    margin-top: 15px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;

    &.newPrice {
        color: #EB5757;
    }
}

.oldPrice {
    margin-left: 15px;
    font-size: 18px;
    color: #959595;
    text-decoration: line-through;
    font-weight: 400;
}