.header {
    background: #000;
    color: #fff;
    padding: 30px 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    text-transform: uppercase;
}

.describtion {
    display: flex;
    align-items: center;
}

.acount {
    margin-right: 25px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.link {
    transition: all 0.4s ease;

    &:hover {
        opacity: 0.7;
    }
}