.cardWrapper {
    display: flex;
    flex-direction: column;
}

.card {
    padding: 24px;
    min-height: 420px;
    padding-bottom: 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    // flex: 0 1 25%;
    max-width: 447px;
}

.type {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.01em;
}

.date {
    margin-top: auto;
    line-height: 285%;
    font-weight: 300;
    font-size: 13px;
    border-top: 2px solid #4F4F4F;
}

.btns {
    display: flex;
    margin-left: 24px;
    gap: 20px;
}

.cursor {
    cursor: pointer;
}